<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>Zen List App</title>


      <!-- Fonts -->
      <link href="http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900" rel="stylesheet">

      <!-- Materialize CSS  -->
      <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
       -->
      <!-- required CSS -->
      <link rel="stylesheet" href="css/bootstrap.css">
      <link rel="stylesheet" href="css/bootstrap-select.min.css">
      <link rel="stylesheet" href="css/font-awesome.min.css">
      <link rel="stylesheet" href="css/animate.css">
      <link rel="stylesheet" href="css/owl.carousel.css">
      <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">

      <!-- landingpage CSS -->
      <link rel="stylesheet" href="css/newstyles.css">
      <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  </head>
  <body>

    {{{body}}}

  <!--footer-->
    <footer class="site-footer">
      <div class="container-fluid text-center">
    		<div class="copyright">Gschool<br>©  2016. All Right Reserved.</div>
      </div>
    </footer>
    <!--footer-->
      <script src="js/jquery-2.1.3.min.js"></script>
    <!--<![endif]-->

    <!--js-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.plugin.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/jquery.touchwipe.min.js"></script>
    <script src="js/included-plagins.js"></script>
    <script src="js/froogaloop2.min.js"></script>
    <script src="js/main.js"></script>


  </body>
</html>
