
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Zen List User Profile</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">

    <!-- Template styles -->
    <style rel="stylesheet">
        /* TEMPLATE STYLES */

        main {
            margin-top: 3rem;
        }

        main .card {
            margin-bottom: 2rem;
        }

        @media only screen and (max-width: 768px) {
            .read-more {
                text-align: center;
            }
        }
    </style>

</head>

<body>
  <!-- .header-box -->
  <header class="site-header">
    <div class="row header-wrap">
  		<div class="col-sm-5 header-box">
  <div class="col-sm-2 header-box logo-box text-center">
    <a href=""><img src="img/logo.png" width="200" alt=""></a>
  </div><!-- .header-box -->

    <main>
        <!--Main layout-->
        <div class="container">

            <!--Page heading-->
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1-responsive">{{{USER}}} PROFILE
                      <br>
                        <small class="text-muted">Create your Checklists!</small>
                    </h1>
                </div>
            </div>
            <!--/.Page heading-->

          <div id="lists" class="row">
            {{each list}}
            <!-- build the card here -->


            {{/each}}
          </div>


        </div>
        <!--/.Main layout-->
    </main>






    <!-- SCRIPTS -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="js/tether.min.js"></script>

    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="js/mdb.min.js"></script>

    <!-- userprofile.js Ajax Request JavaScript -->
    <script type="text/javascript" src="js/userprofile.js"></script>

</body>

</html>
